<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.touchy.app">

    <!-- EXTERNAL STORAGE PERMISSIONS -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@mipmap/touchy_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:configChanges="locale|orientation"
        android:roundIcon="@mipmap/touchy_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="q">
        <activity
            android:name=".Activities.SplashActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator,LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MainMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.CalibrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.StageOneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.StageTwoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SettingsActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>